<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Kodinger">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>My Account Page</title>
    <link rel='stylesheet' href='https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src='https://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'></script>
</head>

<body class="my-login-page">
	<div class="container bootstrap snippets bootdey">

        <!-- Breadcrumb -->
			<nav aria-label="breadcrumb" class="main-breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="listings">Home</a></li>
                </ol>
              </nav>
              <!-- /Breadcrumb -->

        <div class="row">
          <div class="col-sm-12">
            <h1 class="title-lg first-child text-center text-primary"><span>Support Center</span></h1>
          </div>
        </div>
        
        <div class="row">
          <div class="col-sm-4 col-lg-3">
            <h3 class="title-block first-child">Quick Search</h3>
            <form role="form">
              <label for="search" class="sr-only">Search</label>
              <input type="search" class="form-control" id="search" placeholder="Search here...">
            </form>
            <h3 class="title-block">Helpful Links</h3>
            <div class="menu-lg">
              <div class="item">
                <i class="fa fa-users text-primary"></i>
                <div class="content">
                  <div class="title"><a href="#"><span class="text-red">Online</span> Support</a></div>
                  <div class="description">
                    Lorem ipsum dolor sit amet, consectetur.
                  </div>
                </div>
              </div>
              <div class="item">
                <i class="fa fa-unlock-alt text-primary"></i>
                <div class="content">
                  <div class="title"><a href="#"><span class="text-red">Data</span> Protection</a></div>
                  <div class="description">
                    Lorem ipsum dolor sit amet, consectetur.
                  </div>
                </div>
              </div>
              <div class="item">
                <i class="fa fa-legal text-primary"></i>
                <div class="content">
                  <div class="title"><a href="#"><span class="text-red">Legal</span> Info</a></div>
                  <div class="description">
                    Lorem ipsum dolor sit amet, consectetur.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-8 col-lg-9">
            <h3 class="title-block second-child">General Questions</h3>
            <div class="panel-group" id="faqList">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#faqList" href="#questionOne" class="collapsed">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ac tortor vitae lorem lobortis.
                    </a>
                  </h4>
                </div>
                <div id="questionOne" class="panel-collapse collapse" style="height: 0px;">
                  <div class="panel-body">
                    <p>Donec massa urna, tristique sed lectus quis, suscipit ultricies velit. Curabitur pulvinar rutrum risus eu aliquet. Vestibulum at felis et ipsum lacinia fringilla. Praesent blandit ultricies velit non euismod. Integer fringilla, ipsum eu adipiscing venenatis, nisl nisl fermentum sem, nec suscipit felis arcu in augue. Nunc ac blandit lorem. Maecenas auctor justo odio, at eleifend nulla venenatis quis. Aenean semper, libero ac dictum bibendum, enim augue lacinia neque, quis aliquam lacus nulla sed nisi. Etiam eleifend scelerisque odio sit amet fermentum. Etiam at nunc est. Nam eu lobortis nulla. Pellentesque consectetur augue neque, ut porttitor massa tincidunt egestas. Fusce diam tellus, convallis rutrum faucibus porta, venenatis non velit. Nulla non convallis urna, lacinia mollis massa. Nam consequat tristique felis a egestas.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#faqList" href="#questionTwo" class="collapsed">
                      Ut ac tortor vitae lorem lobortis vulputate eget ac nisi. Fusce diam tellus.
                    </a>
                  </h4>
                </div>
                <div id="questionTwo" class="panel-collapse collapse" style="height: 0px;">
                  <div class="panel-body">
                    <p>Donec massa urna, tristique sed lectus quis, suscipit ultricies velit. Curabitur pulvinar rutrum risus eu aliquet. Vestibulum at felis et ipsum lacinia fringilla. Praesent blandit ultricies velit non euismod. Integer fringilla, ipsum eu adipiscing venenatis, nisl nisl fermentum sem, nec suscipit felis arcu in augue. Nunc ac blandit lorem. Maecenas auctor justo odio, at eleifend nulla venenatis quis. Aenean semper, libero ac dictum bibendum, enim augue lacinia neque, quis aliquam lacus nulla sed nisi. Etiam eleifend scelerisque odio sit amet fermentum. Etiam at nunc est. Nam eu lobortis nulla. Pellentesque consectetur augue neque, ut porttitor massa tincidunt egestas. Fusce diam tellus, convallis rutrum faucibus porta, venenatis non velit. Nulla non convallis urna, lacinia mollis massa. Nam consequat tristique felis a egestas.</p> 
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#faqList" href="#questionThree" class="collapsed">
                      Donec massa urna, tristique sed lectus quis, suscipit ultricies velit.
                    </a>
                  </h4>
                </div>
                <div id="questionThree" class="panel-collapse collapse" style="height: 0px;">
                  <div class="panel-body">
                    <p>Donec massa urna, tristique sed lectus quis, suscipit ultricies velit. Curabitur pulvinar rutrum risus eu aliquet. Vestibulum at felis et ipsum lacinia fringilla. Praesent blandit ultricies velit non euismod. Integer fringilla, ipsum eu adipiscing venenatis, nisl nisl fermentum sem, nec suscipit felis arcu in augue. Nunc ac blandit lorem. Maecenas auctor justo odio, at eleifend nulla venenatis quis. Aenean semper, libero ac dictum bibendum, enim augue lacinia neque, quis aliquam lacus nulla sed nisi. Etiam eleifend scelerisque odio sit amet fermentum. Etiam at nunc est. Nam eu lobortis nulla. Pellentesque consectetur augue neque, ut porttitor massa tincidunt egestas. Fusce diam tellus, convallis rutrum faucibus porta, venenatis non velit. Nulla non convallis urna, lacinia mollis massa. Nam consequat tristique felis a egestas.</p>
                  </div>
                </div>
              </div>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#faqList" href="#collapseFour" class="">
                      Aliquam in convallis mauris. Praesent id varius metus. Phasellus rutrum posuere velit.
                    </a>
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div> 
    </div>     

    <!-- Start of ChatBot (www.chatbot.com) code -->
<script type="text/javascript">
    window.__be = window.__be || {};
    window.__be.id = "65dbd863f3f6da0007e4f5f9";
    (function() {
        var be = document.createElement('script'); be.type = 'text/javascript'; be.async = true;
        be.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.chatbot.com/widget/plugin.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(be, s);
    })();
</script>
<noscript>You need to <a href="https://www.chatbot.com/help/chat-widget/enable-javascript-in-your-browser/" rel="noopener nofollow">enable JavaScript</a> in order to use the AI chatbot tool powered by <a href="https://www.chatbot.com/" rel="noopener nofollow" target="_blank">ChatBot</a></noscript>
<!-- End of ChatBot code -->

</body>
</html>